// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

table {
    margin: auto;
    width: 100%;
    text-align: center;
}

.input-group {
    margin: 15px auto;
    justify-content: center;
}
